.container {
    height: 80vh;
    overflow-y: auto;
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  
  .container ul {
    list-style: none;
    width: 90%;
    display: inline-block;
    max-width: 90%;
  }
  
  ul.chat li.message {
    border: solid #006d1f 0.5rem;
    border-radius: 1rem 1rem 1rem 0;
    background-color: #00ae23;
    margin: 1rem 0 1rem 0;
    margin-right: auto;
    width: fit-content;
    font-size: 1.5rem;
    padding: 1rem;
    word-wrap: break-word;
  }
  
  ul.chat li.uMessage {
    border: solid #3100c2 0.5rem;
    border-radius: 1rem 1rem 0 1rem;
    background-color: #0c68d8;
    color: #f8f8ff;
    margin-left: auto;
    width: fit-content;
    max-width: 90%;
    word-wrap: break-word;
  }
  
  .input {
    width: 30%;
    margin: 0 auto 0 auto;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  
  .input textarea {
    border: solid #000000 0.5rem;
    width: 75%;
  }
  
  .displayname {
    font-size: 1.5em;
  }