<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

    <body>
            <div class="container">
                <h1>Chat Room:</h1>
                <ul id="chatBox" class="chat">
                </ul>
            </div>
            <% if (user) { %>
                <div class="input">
                    <p class="displayname">
                        Username: <%= user %>
                    </p>
                    <textarea name="message" id="message" rows="7" cols="40"></textarea>
                    <div class="button-container">
                        <a onclick="postMessage()" class="send-button">Send</a>
                    </div>
                    <input type="hidden" value="<%= user %>" name="user" id="user">
                </div>
                <% } else { %>
                    <p>No login, view only.</p>
                    <% } %>
    </body>

    </html>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>